// fonts
$base-font-family: 'Lato', sans-serif;
$base-font-size: 14px;

// colors
$black: #003333;
$white: #fff;
$gray: #c2c2c2;
$green: #006666;
$green-light: #00cccc;

// color presets
$main: $green;
$alt: $green-light;
$main-bg: $gray;
$text-color: $black;
$link-color: $main;
